SECRET_KEY=TestKey
DEBUG=true

LANGUAGE_CODE=en-us
TIME_ZONE=UTC
USE_I18N=true
USE_TZ=true
DJANGO_LOG_LEVEL=INFO

DB_ENGINE=django.db.backends.postgresql
DB_NAME=TestDatabase
DB_USER=test
DB_PASSWORD=test
DB_HOST=127.0.0.1
DB_PORT=5432
